.App {
  text-align: center;
  /* main colors */
  --color-primary: #FF8B37;
  --color-secondary: #E87928;
  --color-tertiary: #FFAC70;
  --color-quaternary: #FFF3EB;
  /* secondary colors */
  --color-green: #47D867;
  --color-green-inactive: #E6FAEA;
  --color-red: #EC6259;
  --color-red-inactive: #FDEEED;
  --color-black: #1C1C21;
  --color-grey: #D0D0D8;
  --color-grey-inactive: #F5F5F7;
  --color-white: #fff;
}